body {
    background-color: black;
    font-family: 'Montserrat', '200';
}

img {
    width: 250px;
    height: 575px;
    object-fit: contain;
    opacity: 0.9;
}

video {
    margin-top: 50px;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


/* menu styles */

.menu {
    width: 50%;
    height: 33%;
    display: flex;
    justify-content: flex-end;
}

.menu_button {
    width: 70px;
    height: 30px;
    margin: 10px 10px;
    font-size: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: white;
}


/* profile block styles */

.profile_block {
    width: 100%;
    height: 330px;
    display: flex;
    justify-content: center;
}

.profile_block__inner {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.profile_block__inner__name {
    width: 20%;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 50px;
}

.profile_block__inner__photo {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.download {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    text-align: start;
    color: white;
}

.links {
    margin-top: 20px;
}


/* info_block styles */

.info_block {
    width: 100%;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    align-items: center;
    color: white;
}

.info_block__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 110px;
    margin-bottom: 5px;
    font-size: 50px;
    font-weight: 100px;
}

.info_block__text {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    text-align: start;
    max-height: 300px;
    color: white;
}


/* projects block styles */

.projects_block {
    width: 100%;
    height: 1445px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.projects_block__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 110px;
    font-size: 50px;
    margin-top: 20px;
    color: white;
}

.projects_block__row {
    width: 100%;
    height: 580px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: gray;
    margin-bottom: 10px;
}

.projects_block__row__item {
    width: 47.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.projects_block__row__item__title {
    width: 60%;
    height: 110px;
    color: white;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects_block__row__item__text {
    width: 60%;
    height: 460px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


/* contacts block styles */

.contacts_block {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.contacts_block__inner {
    width: 100%;
    height: 270px;
    display: flex;
    justify-items: left;
}

.contacts_block__inner_text {
    width: 25%;
    height: 100%;
    margin-left: 10%;
}


/* footer block styles */

.footer_block {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer_block__iconContainer_item {
    width: 20px;
    height: 20px;
    margin: 5px 5px;
}


/* Photos */

.photos_block {
    width: 100%;
    height: 1445px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.photos_block__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 110px;
    font-size: 50px;
    margin-top: 20px;
    color: white;
}

.photos_block__row {
    width: 100%;
    height: 580px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #171717;
    margin-bottom: 10px;
}

.photos_block__row__item {
    width: 47.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


/* Videos */

.video_block {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.video_block__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 110px;
    margin-bottom: 5px;
    font-size: 50px;
    color: white;
}

.video_block__row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}

.video_block__row__item {
    width: 47.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}